GITHUB_USER=""
GITHUB_TOKEN=""
TF_VAR_pm_api_url="https://192.168.0.200:8006"
TF_VAR_pm_tls_insecure="true"
TF_VAR_pm_api_token_id="terraform-prov@pve!terraform-token"
TF_VAR_pm_api_token_secret=""
TF_VAR_pm_rootuser="root@pam"
TF_VAR_pm_rootpassword=""
TF_VAR_cipassword=""
TF_VAR_openmediavault_passthrough_file=""
TF_VAR_sshkeys=""
STEP_CA_PASSWORD=""
