TF_VAR_pm_api_url="https://192.168.0.200:8006"
TF_VAR_pm_tls_insecure="true"
TF_VAR_pm_api_token_id="terraform-prov@pve!terraform-token"
TF_VAR_pm_api_token_secret=""
TF_VAR_pm_rootuser="root@pam"
TF_VAR_pm_rootpassword=""
TF_VAR_cipassword=""
TF_VAR_openmediavault_passthrough_file=""
TF_VAR_sshkeys=""

# Flux CD ブートストラップ (ansible/site_flux.yml) 用の GitHub 認証情報
# PAT は Contents 読み取り権限があれば十分
GITHUB_USER=""
GITHUB_TOKEN=""